name: Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set version
        run: echo "VERSION=v${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/safety_encrypt:eureka-server-${{ env.VERSION }} .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/safety_encrypt:eureka-server-${{ env.VERSION }}